{% extends ":mail:layout.txt.twig" %}
{% trans_default_domain 'mail' %}

{% block body %}
    {% autoescape false %}
        {{ 'confirmation.message_text'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl, '%projectName%': param('project.name')}) }}
    {% endautoescape %}
{% endblock %}
