{% extends ":mail:layout.txt.twig" %}
{% trans_default_domain 'mail' %}

{% block body %}
    {% autoescape false %}
        {{ 'reset_password.message_text'|trans({'%username%': user.username, '%resetUrl%': resetUrl, '%projectName%': param('project.name')}) }}
    {% endautoescape %}
{% endblock %}
