<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ param('project.name') }}: {{ param('project.slogan') }}{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public.css') }}">

    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}">
</head>
<body>

<div class="row mt-20">
    <div class="center-block" style="width: 50%;">
        {% for flashMessage in app.session.flashBag.get('success') %}
            <div class="alert alert-success fade in" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashBag.get('info') %}
            <div class="alert alert-info fade in" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning fade in" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger fade in" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>
</div>

{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery-2.1.4.js') }}"></script>
{% endblock %}
</body>
</html>
