@import "react-select";

ul.errorlist {
    list-style-type: none;
    padding-left: 0;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
    opacity: 0.5;
}

.mb-20 {
    margin-bottom: 20px;
}