<div>
    <h1>
        <i class="fa fa-clock-o fa-lg"></i> {{ param('project.name') }}
        <small>{{ param('project.slogan') }}</small>
    </h1>

    <p>© {{ "now"|date("Y") }} {{ param('project.name') }}</p>
</div>
