{% extends 'public_base.html.twig' %}

{% block title %}{{ 'confirmation_page.title'|trans({'%project.name%': param('project.name')}, 'register') }}{% endblock title %}

{% block body %}
    <div>
        <div id="wrapper">
            <div id="confirmation" class="animate form">
                <section class="login_content">
                    <form action="{{ path('app_security_confirm_email') }}" method="post">
                        <h1>{{ 'confirmation_page.name'|trans({'%project.name%': param('project.name')}, 'register') }}</h1>

                        <div class="form-group">
                            <input type="text" name="token" required="required"
                                   placeholder="{{ 'form.confirmation_token'|trans({}, 'register') }}"
                                   class="form-control">
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">
                                {{ 'confirm'|trans({}, 'button') }}
                            </button>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                {{ 'text.already_a_member'|trans({}, 'register') }}
                                <a href="{{ path('app_security_login_form') }}" class="to_register">
                                    {{ 'text.login'|trans({}, 'register') }}
                                </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>
                            {% include ':security:_footer.html.twig' %}
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
{% endblock body %}