{% extends 'public_base.html.twig' %}

{% block title %}{{ 'page.title'|trans({'%project.name%': param('project.name')}, 'login') }}{% endblock title %}

{% block body %}
    <div>
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.message }}
                            {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
                        </div>
                    {% endif %}

                    <form action="{{ path('app_security_login_check') }}" method="post">
                        <h1>{{ 'page.name'|trans({'%project.name%': param('project.name')}, 'login') }}</h1>

                        <div>
                            <input type="text" class="form-control" required="" name="_username"
                                   placeholder="{{ 'form.email'|trans({}, 'login') }}">
                        </div>
                        <div>
                            <input type="password" class="form-control" required="" name="_password"
                                   placeholder="{{ 'form.password'|trans({}, 'login') }}">
                        </div>
                        <div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button class="btn btn-default submit" type="submit">
                                {{ 'login'|trans({}, 'button') }}
                            </button>
                            <a class="reset_pass" href="{{ path('app_security_request_reset_pass') }}">
                                {{ 'text.lost_password'|trans({}, 'login') }}
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                {{ 'text.new_to_site'|trans({}, 'login') }}
                                <a href="{{ path('app_security_register_form') }}" class="to_register">
                                    {{ 'text.create_account'|trans({}, 'login') }}
                                </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>
                            {% include ':security:_footer.html.twig' %}
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
        </div>
    </div>
{% endblock body %}