{% extends 'public_base.html.twig' %}

{% block title %}{{ 'page.title'|trans({'%project.name%': param('project.name')}, 'register') }}{% endblock title %}

{% block body %}
    <div>
        <div id="wrapper">
            <div id="register" class="animate form">
                <section class="login_content">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <h1>{{ 'page.name'|trans({'%project.name%': param('project.name')}, 'register') }}</h1>
                        {{ form_row(form.email, {'label': false, 'placeholder': 'form.email'}) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}

                        <div>
                            <button class="btn btn-default submit" type="submit">
                                {{ 'register'|trans({}, 'button') }}
                            </button>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                {{ 'text.already_a_member'|trans({}, 'register') }}
                                <a href="{{ path('app_security_login_form') }}" class="to_register">
                                    {{ 'text.login'|trans({}, 'register') }}
                                </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>
                            {% include ':security:_footer.html.twig' %}
                        </div>

                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>
{% endblock body %}