{% extends 'public_base.html.twig' %}

{% block title %}{{ 'page.title'|trans({'%project.name%': param('project.name')}, 'reset_pass') }}{% endblock title %}

{% block body %}
    <div>
        <div id="wrapper">
            <div id="register" class="animate form">
                <section class="login_content">
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endif %}

                    <form action="{{ path('app_security_reset_pass', {'token': token}) }}" method="post">
                        <h1>{{ 'page.name'|trans({'%project.name%': param('project.name')}, 'reset_pass') }}</h1>

                        <div class="form-group">
                            <input type="password" name="plainPassword_first"
                                   placeholder="{{ 'form.password'|trans({}, 'register') }}"
                                   required="required" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="plainPassword_second"
                                   placeholder="{{ 'form.password_confirmation'|trans({}, 'register') }}"
                                   required="required" class="form-control">
                        </div>

                        <div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_pass') }}"/>
                            <button class="btn btn-default submit" type="submit">
                                {{ 'save'|trans({}, 'button') }}
                            </button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                {{ 'text.already_a_member'|trans({}, 'register') }}
                                <a href="{{ path('app_security_login_form') }}" class="to_register">
                                    {{ 'text.login'|trans({}, 'register') }}
                                </a>
                            </p>
                            <p class="change_link">
                                {{ 'text.new_to_site'|trans({}, 'login') }}
                                <a href="{{ path('app_security_register_form') }}" class="to_register">
                                    {{ 'text.create_account'|trans({}, 'login') }}
                                </a>
                            </p>

                            <div class="clearfix"></div>
                            <br/>
                            {% include ':security:_footer.html.twig' %}
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
        </div>
    </div>
{% endblock body %}