{% extends ":mail:layout.html.twig" %}
{% trans_default_domain 'mail' %}

{% block body %}
    {% autoescape false %}
        {{ 'confirmation.message_html'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl, '%projectName%': param('project.name') })|raw }}
    {% endautoescape %}
{% endblock %}