{% extends ":mail:layout.html.twig" %}
{% trans_default_domain 'mail' %}

{% block body %}
    {% autoescape false %}
        {{ 'reset_password.message_html'|trans({'%username%': user.username, '%resetUrl%': resetUrl, '%projectName%': param('project.name') })|raw }}
    {% endautoescape %}
{% endblock %}